/* -----------------------------------------------------------
 Updates css
----------------------------------------------------------- */
.key-dates {
    @include font-14-semibold;
    font-size: 20px;
    .blue-font {
        font-size: 14px;
        @include font-14;
        color: $primary-color;
        cursor: pointer;
    }
}
.calendar-container {
	margin: 20px 0 0;
	width: 94%;
	height: 250px;
	font-family: $latoRegular;
	border-radius: 8px 8px 0px 0px;
	background-color: white;
}
.ui-datepicker-header {
	background-color: $color-white;
	color: $color-black;
	text-align: center;
	font-family: $latoRegular;
	padding: 10px;
	height: 40px;
	border-radius: 8px 8px 0px 0px;
	border: 0px solid;
}
.ui-datepicker-prev {
	span {
		display: none !important;
		color: $color-white;
	}
	&:after {
		content: "<";
		font-size: 1.6rem;
		float: left;
		margin-left: 10px;
		cursor: pointer;
		color: $color-light-gray-opacity;
		font-family: 'lato';
		border: 1px solid;
		border-radius: 50%;
		padding: 0 8px;
		margin-top: 7px;
	}
    &:hover {
        background: none;
        border: 1px solid transparent;
    }
}
.ui-datepicker-next {
	span {
		display: none !important;
		color: $color-white;
	}
	&:after {
		content: ">";
		float: right;
		font-size: 1.6rem;
		margin-left: 10px;
		cursor: pointer;
		color: $color-light-gray-opacity;
		font-family: 'lato';
		border: 1px solid;
		border-radius: 50%;
		padding: 0 8px;
		margin-top: 7px;
		cursor: pointer;
	}
    &:hover {
        background: none;
        border: 1px solid transparent;
    }
}
.ui-datepicker-calendar {
	th {
		padding: 10px;
		color: $primary-color;
	}
	text-align: center;
	margin: 0 auto;
	padding: 8px;
	td {
		padding: 4px 0px;
	}
	.ui-state-default {
		text-decoration: none;
		color: $color-black;
		border: 0px solid;
		background: none;
	}
	.ui-state-active {
		color: $primary-color;
	}
}
.ui-datepicker-title {
	padding: 10px;
}
.ui-datepicker {
	td {
		span {
			padding: 0;
			text-align: center;
		}
		a {
			padding: 0;
			text-align: center;
		}
	}
}
.ui-widget.ui-widget-content {
	border: 0px solid;
}
.update-check {
    border: 1px solid $color-light-gray-opacity;
    padding: 8px;
    width: 91%;
    margin-bottom: 20px;
    .text {
        span {
            width: 100%;
            display: block;
            margin: 0 7px;
        
            &.red {  
              @include font-14;
              color: $color-red;
            }
            &.light-gray {  
              @include font-14;
              color: $color-light-gray-opacity;
            }
            &.blue-font {
                font-size: 14px;
                @include font-14;
                color: $primary-color;
            }
        }
    }
    .date {
        text-align: center;
        span {
            width: 100%;
            display: block;
        }
    }
}
.icon {
    padding: 10px 12px;
    &.icon-house {
        border: 1px solid $color-light-gray-opacity;
        border-radius: 50%;
        &::before {
            background: url(./../images/house.svg) no-repeat;
            width: 26px;
            height: 26px;
            display: block;
        }
    }
    &.icon-appraisal {
        border: 1px solid $color-light-gray-opacity;
        border-radius: 50%;
        &::before {
            background: url(./../images/appraisal.svg) no-repeat;
            width: 26px;
            height: 26px;
            display: block;
        }
    }
    &.icon-nhd {
        border: 1px solid $color-light-gray-opacity;
        border-radius: 50%;
        &::before {
            background: url(./../images/deadline.svg) no-repeat;
            width: 26px;
            height: 26px;
            display: block;
        }
    }
    &.icon-close {
        border: 1px solid $color-light-gray-opacity;
        border-radius: 50%;
        &::before {
            background: url(./../images/close.svg) no-repeat;
            width: 26px;
            height: 26px;
            display: block;
        }
    }
}
.key-dates-outer {
    display: flex;
    justify-content: space-between;
    margin: 25px 11px 0;
    .add-key-dates {
        font-size: 14px;
        line-height: 17px;
        font-family: $latoRegular;
        color: $primary-color;
    }
}